<div class="overlay">
  <div class="burger-menu js-menu-container">
    <div class="container burger-container">
      <button class="burger-button-close js-close-menu" type="button">
        <svg class="burger-icon" width="32" height="32">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="burger-nav">
        <ul class="burger-menu-wrapper">
          <li>
            <a class="burger-menu-list-item mobile-modal-link" href=""
              >About me</a
            >
          </li>
          <li>
            <a class="burger-menu-list-item" href="">Benefits</a>
          </li>
          <li>
            <a class="burger-menu-list-item" href="">Projects</a>
          </li>
          <li>
            <a class="burger-menu-list-item" href="">FAQ</a>
          </li>
        </ul>
      </nav>
      <a href="" class="burger-link"> Order the project </a>
    </div>
  </div>
</div>
