<section class="covers-section">
  <h2 class="visually-hidden">Covers</h2>
  <ul class="covers-list">
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="/img/projects/energy.webp"
            alt="Energy.flow project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/fruitbox.webp"
            alt="fruitbox project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/chego.webp"
            alt="chego project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="../img/projects/power-pulse.webp"
            alt="Power pulse project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/mimino.webp"
            alt="mimino project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/vegetables.webp"
            alt="Green Harvest project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/starlight.webp"
            alt="reviving the traditional  Ukrainian project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/english.webp"
            alt="English excellence project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="../img/projects/english.webp"
            alt="English excellence project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/chego.webp"
            alt="chego project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/wallet.webp"
            alt="Wallet project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/starlight.webp"
            alt="StarlightStudio project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/starlight.webp"
            alt="reviving the traditional  Ukrainian project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="../img/projects/vegetables.webp"
            alt="Green Harvest project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/energy.webp"
            alt="Energy.flow project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/fruitbox.webp"
            alt="fruitbox project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/energy.webp"
            alt="Power pulse project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/mimino.webp"
            alt="mimino project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-row">
      <ul class="covers-row-list">
        <li class="covers-row-item">
          <img
            src="../img/projects/chego.webp"
            alt="chego project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/power-pulse.webp"
            alt="Power pulse project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/english.webp"
            alt="English excellence project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-row-item">
          <img
            src="../img/projects/starlight.webp"
            alt="Reviving the traditional  Ukrainian project picture"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
  </ul>
</section>
