<section class="covers section">
  <h2 class="visually-hidden">Covers</h2>
  <ul class="covers-list">
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/energy.webp"
            alt="Energy"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/fruitbox.webp"
            alt="fruitbox"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/chego.webp"
            alt="chego"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/power-pulse.webp"
            alt="Power"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/mimino.webp"
            alt="mimino"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/vegetables.webp"
            alt="Green"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/starlight.webp"
            alt="traditional"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/english.webp"
            alt="English"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/english.webp"
            alt="English"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/chego.webp"
            alt="chego"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/wallet.webp"
            alt="Wallet"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/starlight.webp"
            alt="StarlightStudio"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/starlight.webp"
            alt="traditional"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/vegetables.webp"
            alt="Green"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/energy.webp"
            alt="Energy"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/fruitbox.webp"
            alt="fruitbox"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/energy.webp"
            alt="Power"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/mimino.webp"
            alt="mimino"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
    <li class="covers-wrapper">
      <ul class="covers-wrapper-list">
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/chego.webp"
            alt="chego"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/power-pulse.webp"
            alt="Power"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/english.webp"
            alt="English"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
        <li class="covers-wrapper-item">
          <img
            src="/img/projects/starlight.webp"
            alt="traditional"
            width="282"
            height="163"
            loading="lazy"
          />
        </li>
      </ul>
    </li>
  </ul>
</section>
