</section>
<section class="covers" id="covers">
  <div class="container covers-container">
    <h2 class="covers-title">Our Projects Covers</h2>
    <div class="covers-wrapper">
      <ul class="covers-list">
        <li class="cover-item">
          <img src="../img/projects/chego.webp" alt="Project 1" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/energy.webp" alt="Project 2" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/english.webp" alt="Project 3" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/fruitbox.webp" alt="Project 4" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/mimino.webp" alt="Project 5" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/power-pulse.webp" alt="Project 6" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/starlight.webp" alt="Project 7" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/vegetables.webp" alt="Project 8" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/wallet.webp" alt="Project 9" />
        </li>
      </ul>
      <ul class="covers-list">
        <!-- <li class="cover-item">
          <img src="../img/projects/chego.webp" alt="Project 1" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/energy.webp" alt="Project 2" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/english.webp" alt="Project 3" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/fruitbox.webp" alt="Project 4" />
        </li> -->
        <li class="cover-item">
          <img src="../img/projects/mimino.webp" alt="Project 5" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/power-pulse.webp" alt="Project 6" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/starlight.webp" alt="Project 7" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/vegetables.webp" alt="Project 8" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/wallet.webp" alt="Project 9" />
        </li>
      </ul>
      <ul class="covers-list">
        <li class="cover-item">
          <img src="../img/projects/chego.webp" alt="Project 1" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/energy.webp" alt="Project 2" />
        </li>
        <!-- <li class="cover-item">
          <img src="../img/projects/english.webp" alt="Project 3" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/fruitbox.webp" alt="Project 4" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/mimino.webp" alt="Project 5" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/power-pulse.webp" alt="Project 6" /> -->
        </li>
        <li class="cover-item">
          <img src="../img/projects/starlight.webp" alt="Project 7" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/vegetables.webp" alt="Project 8" />
        </li>
        <li class="cover-item">
          <img src="../img/projects/wallet.webp" alt="Project 9" />
        </li>
      </ul>
    </div>
  </div>
</section>
