<section class="header">
  <div class="container">
    <h2 class="header-title">Header</h2>
    <nav class="header-nav">
      <a href="../index.html" class="headder-link">
        <img
          class="header-logo"
          width="80"
          height="80"
          srcset="../img/logo/logo_1x.webp 1x, ../img/logo/logo_2x.webp 2x"
          src="../img/logo/logo_1x.webp"
          alt="logo"
        />
        <svg class="header-icon">
          <use href="../img/sprite.svg#icon-J"></use>
        </svg>
      </a>
    </nav>
  </div>
</section>
