<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello.<br />
      I’m Fullstack developer <br />
      Lloyd Jefferson.
    </h1>
    <ul class="hero-socials-list">
      <li class="hero-socials-list-item">
        <a
          class="hero-socials-list-item-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          >IG</a
        >
      </li>
      <li class="hero-socials-list-item">
        <a
          class="hero-socials-list-item-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          >FB</a
        >
      </li>
      <li class="hero-socials-list-item">
        <a
          class="hero-socials-list-item-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          >YT</a
        >
      </li>
      <li class="hero-socials-list-item">
        <a
          class="hero-socials-list-item-link"
          href="https://github.com/ValeraKiorkiian/freelance-portfolio"
          target="_blank"
          rel="noopener noreferrer"
          >GH</a
        >
      </li>
      <li class="hero-socials-list-item">
        <a
          class="hero-socials-list-item-link mail"
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
