<section class="projects section" id="projects">
  <div class="container projects-container">
    <h2 class="projects-title">Projects</h2>
    <div id="projects-swiper" class="parallax-slider swiper-container swiper">
      <ul class="parallax-slider-wrapper projects-items swiper-wrapper">
        <li class="projects-item swiper-slide projects-swiper-slide">
          <div class="projects-technologies-container">
            <ul class="projects-technologies">
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="800"
                data-swiper-parallax-scale="0.1"
              >
                #react
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="500"
                data-swiper-parallax-scale="0.1"
              >
                #js
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="1000"
                data-swiper-parallax-scale="0.1"
              >
                #node js
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="1300"
                data-swiper-parallax-scale="0.1"
              >
                #git
              </li>
            </ul>
            <p
              class="projects-description"
              data-swiper-parallax="-350"
              data-swiper-parallax-duration="1200"
              data-swiper-parallax-scale="0.1"
            >
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <button
              class="projects-btn"
              type="button"
              data-swiper-parallax="-400"
              data-swiper-parallax-duration="1700"
              data-swiper-parallax-opacity="0"
              data-swiper-parallax-scale="0.1"
            >
              See project
            </button>
          </div>
          <div class="projects-img-container">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desktop/read-1x.webp 1x,
                  /img/desktop/read-2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/tablet/read-1x.webp 1x,
                  /img/tablet/read-2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/mobile/read-1x.webp 1x,
                  /img/mobile/read-2x.webp 2x
                "
              />
              <img
                class="projects-img"
                src="/img/mobile/read-1x.webp"
                alt="Read"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
        <li class="projects-item swiper-slide projects-swiper-slide">
          <div class="projects-technologies-container">
            <ul class="projects-technologies">
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="800"
                data-swiper-parallax-scale="0.1"
              >
                #react
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="500"
                data-swiper-parallax-scale="0.1"
              >
                #js
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="1000"
                data-swiper-parallax-scale="0.1"
              >
                #node js
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="1300"
                data-swiper-parallax-scale="0.1"
              >
                #git
              </li>
            </ul>
            <p
              class="projects-description"
              data-swiper-parallax="-350"
              data-swiper-parallax-duration="1200"
              data-swiper-parallax-scale="0.1"
            >
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <button
              class="projects-btn"
              type="button"
              data-swiper-parallax="-400"
              data-swiper-parallax-duration="1700"
              data-swiper-parallax-opacity="0"
              data-swiper-parallax-scale="0.1"
            >
              See project
            </button>
          </div>
          <div class="projects-img-container">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desktop/petlove-1x.webp 1x,
                  /img/desktop/petlove-2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/tablet/petlove-1x.webp 1x,
                  /img/tablet/petlove-2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/mobile/petlove-1x.webp 1x,
                  /img/mobile/petlove-2x.webp 2x
                "
              />
              <img
                class="projects-img"
                src="/img/mobile/petlove-1x.webp"
                alt="Petlove"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>

        <li class="projects-item swiper-slide projects-swiper-slide">
          <div class="projects-technologies-container">
            <ul class="projects-technologies">
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="800"
                data-swiper-parallax-scale="0.1"
              >
                #react
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="500"
                data-swiper-parallax-scale="0.1"
              >
                #js
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="1000"
                data-swiper-parallax-scale="0.1"
              >
                #node js
              </li>
              <li
                class="projects-technologies-item"
                data-swiper-parallax="-250"
                data-swiper-parallax-duration="1300"
                data-swiper-parallax-scale="0.1"
              >
                #git
              </li>
            </ul>
            <p
              class="projects-description"
              data-swiper-parallax="-350"
              data-swiper-parallax-duration="1200"
              data-swiper-parallax-scale="0.1"
            >
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <button
              class="projects-btn"
              type="button"
              data-swiper-parallax="-400"
              data-swiper-parallax-duration="1700"
              data-swiper-parallax-opacity="0"
              data-swiper-parallax-scale="0.1"
            >
              See project
            </button>
          </div>
          <div class="projects-img-container">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/desktop/vocab-1x.webp 1x,
                  /img/desktop/vocab-2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/tablet/vocab-1x.webp 1x,
                  /img/tablet/vocab-2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/mobile/vocab-1x.webp 1x,
                  /img/mobile/vocab-2x.webp 2x
                "
              />
              <img
                class="projects-img"
                src="/img/mobile/vocab-1x.webp"
                alt="Vocab"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-navigation">
        <div class="projects-button-prev projects-navigation-btn">
          <svg class="icon-prev projects-icon" width="32" height="32">
            <use xlink:href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
        <div class="projects-button-next projects-navigation-btn">
          <svg class="icon-next projects-icon" width="32" height="32">
            <use xlink:href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
