<section class="work-together">
  <div class="container-work">
    <div class="title-work">
      <img src="/public/logo.svg" alt="image" width="44" height="44" />
      <h2 class="work-together-title">
        Let’s <span class="blush-color-things">work</span> together
      </h2>
    </div>
    <form id="contact-form">
      <input
        type="email"
        name="email"
        placeholder="clients@gmail.com"
        required
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      />
      <textarea name="comments" placeholder="comments" required></textarea>
      <button type="submit" class="btn-work">Send</button>
    </form>
    <ul class="contact-info">
      <li>lloydjefferson@gmail.com</li>
      <li>+380 11 1111 11 11</li>
    </ul>
  </div>
</section>

<div id="modal" class="modal hidden">
  <div class="modal-content">
    <button class="close-modal">&times;</button>
    <h3>Thank you for your interest in cooperation!</h3>
    <p>We will get back to you soon.</p>
  </div>
</div>
