<footer class="work-together section" id="work-together">
  <div class="container-work">
    <div class="title-work">
      <div class="logo-wrapper">
        <img src="/public/logo.svg" alt="image" />
      </div>

      <div class="work-together-title">
        <div class="line-top">
          Let’s <span class="blush-color-things">work</span>
        </div>
        <div class="line-bottom">together</div>
      </div>
    </div>

    <form id="contact-form">
      <div class="input-wrapper">
        <div class="email-wrapper">
          <label for="email"></label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="clients@gmail.com"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            title="Email must be in the format: username or username.lastname"
          />
          <p id="message" class="validation-message"></p>
          <div class="email-message"></div>
        </div>
        <div class="comments-wrapper">
          <label for="comments"></label>
          <textarea
            name="comments"
            id="comments"
            placeholder="comments"
            required
          ></textarea>
          <div class="comments-messag"></div>
        </div>
      </div>

      <div id="spinner" class="spinner hidden"></div>

      <button type="submit" class="btn-work">Send</button>
    </form>

    <ul class="contact-info">
      <li class="work-list-email">
        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
      <li class="work-list-tel">
        <a href="tel:+3801111111111">+380 11 1111 11 11</a>
      </li>
    </ul>
  </div>
</footer>

<!-- Modal -->
<div class="backdrop">
  <div id="modal" class="modal">
    <button class="close-modal" aria-label="Close modal">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 6L6 18"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M6 6L18 18"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div class="modal-text">
      <h3>Thank you for your interest in cooperation!</h3>
      <p>
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
