.about-me {
    position: relative;
    background: var(--background);
    padding: 64px 0 32px;
}

@media screen and (min-width: 768) {
    .about-me {
        padding: 64px 0 48px;
    }
}

@media screen and (min-width: 1440) {
    .about-me {
        padding: 96px 0 82px;
    }
}

.about-wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 1440px) {
    .about-wrapper {
        flex-direction: row;
    }
}

.about-left {
    padding: 32px 32px 272px;
    margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
    .about-left {
        max-width: 680px;
        padding: 64px 64px 436px;
        margin-bottom: 16px;
        margin-right: 16px;
        
    }

}


.about-txt {
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: #fafafa;
}

.about-r-span {
    color: #ed3b44;
}

.about-g-span {
    color: #fafafa66;
}

@media screen and (min-width: 768) {
    .about-txt {
        font-size: 38px;
        line-height: 40px;
    }
}

.about-right {
    max-width: 100%;
}

@media screen and (min-width: 1440) {
    .about-right {
        max-width: 680px;
    }
}

.thumb {
    max-width: 100%;
    border-radius: 24px;
    overflow: hidden;
    object-fit: cover;
    
}



.accordion-container {
    background-color: var(--background);
    
}

.accordion-container .ac {
    background-color: var(--background);
    margin: 32px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fafafa33;
}

.active {}

.accordion-container .ac.ac-header {   
    border: none;
}

.accordion-container .ac .ac-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-family: Inter Tight;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0,02em;
    text-transform: uppercase;
    color: #FAFAFA66;
    border: none;
}

.accordion-container .ac .ac-panel {
   
    padding-top: 12px;
    padding-bottom: 20px;
    border: none;
    /* border-bottom: 1px solid #fafafa33; */
}

.accordion-container .ac.acis-active .ac-panel {
    padding: 0;
    border: none;
    /* border-bottom: 1px solid #fafafa33; */
}
.accordion-container .ac .ac-text {
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: var(--white);
}

.accordion-container .ac.is-active .ac-text {
    padding: 0;
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: var(--white);
    margin-top: 12px;
    margin-bottom: 10px;
}
.accordion-container .ac:first-child .ac-panel .ac-text {
    margin-bottom: 20px;
}

.accordion-container .ac:not(:first-child) .ac-panel .ac-text {
    margin-bottom: 10px;
}

.accordion-container .ac-panel .ac-text:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1440) { 
.accordion-container .ac .ac-panel {
    padding-left: 696px;
    padding-right: 68px;
}

}

.ac-trigger::after {
    display: none;
}

.icon-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #FAFAFA33;
    border-radius: 50%;
    text-align: center;
    transition: transform 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

icon-span:hover {
color: var(--green-hover);
}

.icon-accordion:hover {
    --color1: var(--green-hover);
}

.ac.is-active .icon-accordion {
    transform: rotate(180deg);
}

.container-swiper {
display: flex;
justify-content: space-between;
align-items: center;
}


 .swiper {
     width: 260px;
     height: 130px;
     margin-left: 0 !important;
 }

 .swiper-wrapper {


 }
 .swiper-slide {
     width: 130px;
     flex-shrink: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .swiper-slide {
     width: 130px;
     height: 130px;
     border-radius: 50%;
     border: 1px solid #FAFAFA33;
     font-weight: 500;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: -0.02em;
     text-shadow: -1px 1px 3px var(--background);
     display: flex !important;
     justify-content: center;
     align-items: center;
 }

 @media (min-width: 768px) {

    .swiper {
            width: 600px;
            height: 200px;
        }
     .swiper-slide,
     .circle {
         width: 200px;
         height: 200px;
     }
 }

 @media (min-width: 1440px) {
    .swiper {
            width: 1200px;
    }
 }

 .swiper-slide-active {
     background: var(--green);
 }

 .swiper-button-next {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    pointer-events: auto;
    display: block;
    color: var(--arrow);
 }

.swiper-button-next:hover {
    color: var(--green-hover);
}

.swiper-button-next:active {
    color: var(--green);
}

 .icon-next {
    --color1: currentColor;
 }