:root {
  color: #fafafa;
  background-color: #1c1d20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-family: 'Inter Tight', serif;
  --background: #1c1d20;
  --title: #fafafa66;
  --cards: #242527;
  --arrow: #3b3b3b;
  --green: #c6e327;
  --green-hover: #97ad1d;
  --success: #3cbc81;
  --invalid-form: #e74a3b;
  --white: #fafafa;
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bg-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background-color: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', serif;
  color: var(--white);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

/* прихований заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
