.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: image-set(
    url('../img/menu/Menu.png') 1x,
    url('../img/menu/Menu@2x.png') 2x
  );
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.burger-container {
  position: relative;
  height: 100vh;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger-button-close {
  position: absolute;
  right: 16px;
  top: 32px;
  cursor: pointer;
}
.burger-nav {
  margin-bottom: auto;
  margin-top: auto;
}

.burger-menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.burger-menu-list-item {
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  width: 112px;
  text-decoration: underline;
  transition: var(--transition-background-color), var(--transition-color);
}

.burger-link {
  border-radius: 60px;
  padding: 14px 31px;
  background-color: var(--green);
  text-transform: uppercase;
  transition: var(--transition-background-color), var(--transition-color);
}
